

Table{
    border:1px solid black;
    width:100%;
    background:grey;
}
td{
    border :1px solid black;
    background:wheat;
}
thead{
    background-color: black;
    color:wheat;
    width: 100%;
}

.smartgoals{
    background: rgb(227, 131, 131);
    width:20%;
}
#tableDiv{
    background: yellow;
    padding: 20px;
}
/*comment*/