body {
    background-color:rgb(108, 156, 156);
    font-family: 'Times New Roman', Times, serif;
    font-size:30px;
    text-align:left
}

h1{
    font-size:50px;
    color: darkblue;
    letter-spacing: 10px;
}
h2{
    color: darkblue (73, 73, 90);
}
h3{
    color: black(73, 73, 90);
}
p{
    font-size:30px;
    color:rgb(21, 12, 35)
}

.main {
    background-color: #a19dab;
    padding: 20px;
    float: left;
    width: 100%; /* The width is 60%, by default */
  }

Table{
    border:1px solid black;
    width:100%;
    background:grey;
}
td{
    border :1px solid black;
    padding:7px;
    background:wheat;
}
thead{
    background-color: black;
    color:wheat;
    width: 100%;
}

.smartgoals{
    background: rgb(227, 131, 131);
    width:20%;
 /*   margin-left: auto;
    margin-right: auto;*/
}
img{
    border:10px solid #555;
    margin: 0 1.8em;
}

a, a:visited{
    font-size:40px;
    color:darkred;
}
/*.center{
    margin-left:0px;
    margin-right: auto;
}*/
#return{
    border :1px solid black; 
}
#tableDiv{
    background: rgb(217, 217, 151);
    padding: 20px;
    width:60%;
 /*   margin-left: auto;
    margin-right: auto;*/

  }
/*comment*/