body {
    background-color:aquamarine;
    font-family: Arial;
    margin: 10;
}

h1{
    color: brown;
    letter-spacing: 2px;
    text-decoration: underline;
}

header{
    width:100%;
    background-color: white;
    border: 1px dashed white;
    height: 200px;
    padding: 20px;
    color:black;
    text-align: center;
    font-weight: 900;

}

nav{
    width:100%;
    background:lightcoral;
    height: 20px;
    padding: 10px;
}

aside{
    width: 300px;
    height: 500px;
    background:#dedede ;
    float: left;
    padding:10px;

}

article{
    width: 100px;
    float:left;
    background: plum;
    margin: 20px;

}

section{
    background: white;
    padding: 20px;
}


footer{
    clear: both;
    display: block;
    background: lightblue;
    text-align: center;
    padding: 20px;
    /*height: 300px;
    line-height: 100px;*/
}

img{
    max-width:100px;
}

.mypicture{

    max-width:300px;
 /*   width:100%;*/
    border:5px solid pink;
    border-radius: 20px;
}
div.green{
background:green
width:300px;
}
a:hover{
    color:red
}